<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://sdks.shopifycdn.com/polaris/2.10.0/polaris.min.css" />
</head>

<body>
  <!--
    Vue
  -->
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <!--
    Shopify SDK
  -->
  <script src="https://cdn.shopify.com/s/assets/external/app.js"></script>
  <script>
    window.apiKey = "<%= apiKey %>";
    window.shopOrigin = "https://<%= shop %>";
    window.shop = "<%= shop %>";
    window.origin = "<%= origin %>";
    const shopifyAppConfig = {
      apiKey: window.apiKey,
      shopOrigin: window.shopOrigin,
    };
    // This will allow you to access the app outside of the Shopify
    // parent iframe in development mode. Doing this will give you
    // access to React and Redux dev tools, but will also disrupt
    // postmessages to the parent and block EASDK calls
    // https://help.shopify.com/api/sdks/shopify-apps/embedded-app-sdk/methods#shopifyapp-init-config
    if ("<%= development %>") {
      shopifyAppConfig.forceRedirect = false;
    }
    ShopifyApp.init(shopifyAppConfig);
  </script>

  <div id="root">
    <div class="Polaris-Page">
      <div class="Polaris-Page__Content">
        <div class="Polaris-Layout">
          <div class="Polaris-Layout__Section">
            <div class="Polaris-Card">
              <div class="Polaris-Card__Header">
                <h2 class="Polaris-Heading">Preview</h2>
              </div>
              <div class="Polaris-Card__Section">
                <p>View a summary of your online store’s performance.</p>
              </div>
            </div>
          </div>
          <div class="Polaris-Layout__AnnotatedSection">
            <div class="Polaris-Layout__AnnotationWrapper">
              <div class="Polaris-Layout__Annotation">
                <div class="Polaris-TextContainer">
                  <h2 class="Polaris-Heading">Customization</h2>
                  <div class="Polaris-Layout__AnnotationDescription">
                    <p>Customize the appearance of the popup that is displayed to your customers.</p>
                  </div>
                </div>
              </div>
              <div class="Polaris-Layout__AnnotationContent">
                <div class="Polaris-Card">
                  <div class="Polaris-Card__Section">
                    <div class="Polaris-FormLayout">
                      <div class="Polaris-FormLayout__Item">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id="TextField3Label" for="TextField3" class="Polaris-Label__Text">Store name</label>
                            </div>
                          </div>
                          <div class="Polaris-TextField"><input id="TextField3" class="Polaris-TextField__Input"
                              aria-label="Store name" aria-labelledby="TextField3Label" aria-invalid="false" value="">
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>
                      <div class="Polaris-FormLayout__Item">
                        <div class="">
                          <div class="Polaris-Labelled__LabelWrapper">
                            <div class="Polaris-Label">
                              <label id="TextField4Label" for="TextField4" class="Polaris-Label__Text">Account email</label>
                            </div>
                          </div>
                          <div class="Polaris-TextField">
                            <input id="TextField4" class="Polaris-TextField__Input" type="email" aria-label="Account email"
                              aria-labelledby="TextField4Label" aria-invalid="false" value="">
                            <div class="Polaris-TextField__Backdrop"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    const vue = new Vue({
      el: '#root'
    });
  </script>
</body>

</html>